<% include ../header.ejs %>
<link rel="stylesheet" href=""/>
</head>
<body>
<% include navigator.ejs %>
<header>
    <h3><a href="/friend/following">我的关注</a></h3>

    <h3><a href="/friend/follower">关注我的</a></h3>
</header>
<div id="friendList">
    <!--我的关注-->
    <ul id="followingList" ng-app="friendListApp" ng-controller="followingListCtrl">
        <li ng-repeat="followingList in followingLists">
            <div class="friendDetail">
                <div class="avatar"></div>
                <p><a href=''>
                        <span ng-bind="followingList.id"></span>
                    </a></p>
                <p>TA的关注：
                    <span>
                        <a href="/u/{{ followingList.id }}">
                            <span ng-bind="followingList.following.length"></span>
                        </a>
                    </span>
                </p>
                <p>关注TA的：
                    <span>
                        <a href="/u/{{ followingList.id }}">
                            <span ng-bind="followingList.follower.length"></span>
                        </a>
                    </span>
                </p>
            </div>
        </li>
    </ul>

   <!-- &lt;!&ndash;关注我的&ndash;&gt;
    <ul id="followerList">
        <li ng-repeat="friend in followerList">
            <div class="friendDetail">
                <div class="avatar"></div>
                <p><a href="/u/{{ friend.id }}">{{ friend.name }}</a></p>

                <p>TA的关注：
                    <span>
                        <a href="/u/{{ friend.id }}/following">{{ friend.followingCount }}</a>
                    </span>
                </p>

                <p>TA的好友：
                    <span>
                        <a href="/u/{{ friend.id }}/follower">{{ friend.followerCount }}</a>
                    </span>
                </p>
            </div>
        </li>
    </ul>-->
</div>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/lib/angular-1.3.15/angular.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/friend.js"></script>
<% include ../footer.ejs %>