<% include ../header.ejs %>
</head>
<body>
<% include ./navigator.ejs %>

<section class="container">
    <label for="object">标题</label>
    <input type="text" id="object" name="object" placeholder="输入标题"/>
    <br/>
    <label for="content">内容</label>
    <textarea id="content" placeholder="输入正文" name="content"></textarea>
    <br/>
    <input type="button" value="发布" id="submit"/>
    <input type="button" value="取消" id="cancel"/>
</section>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/post.js"></script>
<script src="/js/searchInput.js"></script>
<% include ../footer.ejs %>