<% include ../header.ejs %>
<div class="header">
    <h1>欢迎来到Everyone</h1>

    <div class="log logSuccess">
        <div class="avatar"><a href="profile"><%= user.name %></a></div>
        <!--
                    预备加入个人信息页面
        -->
        <div class="logout"><a href="logout">登出</a></div>
    </div>
    <div class="index"><a href="/">首页</a></div>
    <div class="post">发表状态</div>

</div>
<section class="container">
    <label for="object">标题</label>
    <input type="text" id="object" name="object" placeholder="输入标题"/>
    <br/>
    <label for="content">内容</label>
    <textarea id="content" placeholder="输入正文" name="content"></textarea>
    <br/>
    <input type="button" value="发布" id="submit"/>
    <input type="button" value="取消" id="cancel"/>
</section>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/post.js"></script>
<% include ../footer.ejs %>