<style>
    #cover {
        position: relative;
        height: 75px;
    }

    #headPic {
        width: 60px;
        height: 60px;
        padding: 3px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -30px;
    }

    .nameBox {
        font-size: 1.4em;
        text-align: center;
    }

    #userinfo tr:nth-child(1) td {
        padding-top: 20px;
    }
</style>
<div class="col-sm-10 col-sm-offset-1" id="dataCard">
    <div style="background-image: url(.{{user.avatar}})" id="cover">
        <div class="nameBox">
            <a href="/u/{{user.id}}" title="{{user.name}}">{{user.name}}</a>
        </div>
        <div id="headPic">
            <img ng-src=../{{user.avatar}} alt="Avatar"
                 width="60" height="60" class="img-circle"/>
        </div>
    </div>

    <div id="userinfo">
        <div class=" table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>文章</td>
                    <td>关注</td>
                    <td>被关注</td>
                </tr>
                <tr>
                    <td ng-bind="posts.length"></td>
                    <td ng-bind="user.following.length"></td>
                    <td ng-bind="user.follower.length"></td>
                </tr>
            </table>
        </div>
    </div>
</div>