<!DOCTYPE html>
<html>
<head>
    <title>Everyone</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="header">
    <p>欢迎来到Everyone</p>

    <div class="log">
        <div class="login"><a href="login">登录</a></div>
        <div class="register"><a href="register">注册</a></div>
    </div>
</div>
<div class="container">

</div>
</body>
</html>