<!DOCTYPE html>
<html>
<head>
    <title>Everyone</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="header">
    <p>欢迎来到Everyone</p>

    <% if(user){ %>
        <div class="log logSuccess">
            <div class="avatar"><a href="profile"><%= user.name %></a></div>
<!--
            预备加入个人信息页面
-->
            <div class="logout"><a href="logout">登出</a></div>
        </div>
    <% }else{ %>
        <div class="log logBefore">
            <div class="login"><a href="login">登录</a></div>
            <div class="register"><a href="register">注册</a></div>
        </div>
    <% } %>

</div>
<div class="container">

</div>
</body>
</html>