<% include ../header.ejs %>
<div class="header">
    <p>欢迎来到Everyone</p>

    <div class="log logBefore">
        <div class="login"><a href="../login">登录</a></div>
        <div class="register"><a href="../register">注册</a></div>
    </div>

</div>
<div class="container">

</div>
<% include ../footer.ejs %>