<% include ../header.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body>
<% include ./show.ejs %>
<div id="introduce">
    <h1>欢迎使用Everyone。</h1>

    <p>分享你的知识见解，增加你的个人积累，联系你的好友，获取更多精彩。</p>
</div>
<script src="/js/lib/jquery-1.9.1.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/nologin.js"></script>
<% include ../footer.ejs %>